body {
	font-family: 'Roboto', sans-serif;
}

/* Welcome Section */
#welcome {
  background-image: url("images/portfolio_background.png");
  padding-top: 10rem;
  padding-bottom: 10rem;
  /*padding-bottom: calc(10rem - 30px);*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome h1 {
	color: white;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#welcome p {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#welcome hr {
	background-color: white;
	width: 350px;
}

/* About Section */
#about {
	padding: 70px 0;
}

#about h1 {
	margin-bottom: 20px;
	font-size: 36px;
}

/* Portfolio Section */
#portfolio {
	color: white;
	background-color: black;
	padding: 70px 0;
}

#portfolio h1 {
	margin-bottom: 40px;
	font-size: 36px;
}

#portfolio .card {
	color: black;
	background-color: white;
}

.portfolio-item {
	margin: 10px 0;
}

.card-text {
	height: 70px;
}

.card-img-top {
	max-height: 250px;
	min-height: 200px;
}

/* Contact Section */
#contact {
	padding: 70px 0;
}

#contact h1 {
	font-size: 36px;
	margin-bottom: 20px; 
}

#contact p {
	margin-bottom: 20px;
}

/* Bootstrap Restyling */
.bg-light {
  background-color: white!important;
}

.navbar {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;
}

.navbar-light .navbar-nav .nav-link {
	text-align: center;
	color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
	background-color: black;
}

.navbar-light .navbar-brand {
	color: black;
}

.btn-primary {
    color: white;
    background-color: black;
    border-color: black;
}

/* Font-Awesome Restyling */
.fa-linkedin, .fa-github, .fa-envelope-square {
	margin-bottom: 20px;
	font-size: 200px;
}

