/*body {
  background-color: darkred;
  color: grey;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-size: 18px;
  margin: 0 0 3px 0;
}

h2 {
  font-size: 12px;
  margin: 0 0 3px 0;
}
*/

/*#gameBoard {
  display: block;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 0px;
}*/

#selectors {
  margin: 5px 0;
}

#controls {
  margin: 5px 0;
}

.fa-redo, .fa-stop, .fa-play {
  margin: 0 5px;
  font-size: 20px;
}

.fa-redo:hover, .fa-stop:hover, .fa-play:hover {
  cursor: pointer;
  color: blue;
}

.dead {
  background: black;
}

.cell {
  display: block;
  float: left;
  height: 10px;
  width: 10px;
  border-radius: 1px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 0;
  margin: 0;
}

.old {
  background: red;
}

.new {
  background: pink;
}

.rows {
  clear: both;
  margin: auto;
  padding: 0;
}

.rowContainer {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: black;

  /*padding-top: 20px;*/
  /*background: black;*/
  /*border-radius: 15px;*/
}

/*button {
  width: 70px;
  margin: 0;
  padding: 2px 8px;
  background: black;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  color: lightgrey;
}

.active {
  background: blue;
}

#header {
  margin-top: -50px;
  position: fixed;
  background: black;
  width: 100%
}

#options {
  margin: -35px auto 0 auto;
}

.footer {
  color: lightgrey;
  padding: 5px;
  background: black;
  width: 400px;
  margin: 0 auto;
}

#size {
  padding: 0 0 0 13px;
}

#presets {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}*/

/*#generation {
  color: lightgrey;
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  padding: 2px 0px;
  width: 120px;
}*/